@import '../assets/fonts/cocogoose/style.css';
@import '../assets/fonts/lato/style.css';

:root {
  --dark: #272a31;
  --accent: #ec5242;
  --light: #d3d3d3;
  --coco: "COCOGOOSE Regular", arial, sans-serif;
  --lato: "Lato", arial, sans-serif;
}

* {
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

a {
  cursor: pointer;
}

.font-coco {
  font-family: var(--coco);
}

.font-lato {
  font-family: var(--lato);
}

.font-size-1 {
  font-size: 1.2rem;
}

.w-30 {
  width: 30%;
}

.font-size-2 {
  font-size: 2.1em;
}

.accent {
  color: var(--accent);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-white {
  background-color: #fff;
}

.bg-accent {
  background-color: var(--accent) !important;
}

.bg-accent:hover {
  background-color: #f55d4d !important;
}

.bg-trans {
  background: rgba(220, 220, 220, 0.6);
}

.bg-semi-trans {
  background: rgba(225, 225, 225, 0.1) !important;
}

.bg-pattern {
  background-image: url('../images/plus/plus.svg');
}

.bg-checker {
  background-image: url("../images/patt-bg.svg");
  background-size: cover;
  background-position: 0 0;
}

.bg-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(245, 93, 77, 0.5));
}

.bg-img {
  background-image: linear-gradient(to top, #fff, transparent);
  height: 100%;
}

.bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  background-attachment: fixed;
  background-position: center;
  background-image: url("../images/bg_img.jpg");
  opacity: 0.5;
}

.border-accent {
  border: var(--accent);
}

.border-solid {
  border-style: solid;
}

.intro {
  height: 100vh;
  overflow: hidden;
}

.heading {
  position: relative;
}

.heading::after {
  content: "";
  position: absolute;
  bottom: -0.9rem;
  left: 50%;
  transform: translateX(-50%);
  width: 13%;
  height: 0.09rem;
  background-color: #ec5242;
}

.fs-7 {
  font-size: 0.1rem;
}

.fs-20 {
  font-size: 0.8rem;
}

.show-image {
  position: relative;
}

.show-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(182, 24, 24);
}
